<header class="page-header text-center">
  <h1>Create Room</h1>
</header>


<form action="/rooms" method="post">
  <div class="form-group">
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>


<h2>Rooms</h2>


{{#if (isEmpty rooms) }}
  <p class="text-danger">No rooms</p>
{{else }}
  <ul class="list-group">
    {{#each rooms as |room| }}
      <li class="list-group-item">
        <a href="/rooms/{{ room.id }}">{{ room.name }}</a>
      </li>
    {{/each }}
  </ul>
{{/if }}
