

#chat {
  background: #eee;
  margin-bottom: 8px;
  min-height: 512px;
  max-height: 512px;
  overflow-y: scroll;
}

.message {
  font-weight: bold;
}
.message.timestamp {
  color: #12f;
}
.message.username {
  color: #111;
}
.message.body {
  font-weight: normal;
}


