

#chat {
  background: #eee;
  margin-bottom: 8px;
  min-height: 512px;
  max-height: 512px;
  overflow-y: scroll;
  padding: 16px;
  border-radius: 4px;
}

.room {
  color: #12f;
}

.message {
  font-weight: bold;
}
.message .timestamp {
  font-size: 10px;
  color: #12f;
}
.message .username {
  font-size: 11px;
  color: #111;
}
.message .body {
  font-weight: normal;
}

